@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "styles/style.css";
@import "styles/bootstrap.css";
@import "styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css";
@import "styles/mega_menu.css";
@import "styles/settings.css";
@import "styles/navigation.css";
@import "styles/slider.css";
@import "styles/responsive.css";
@import "styles/carousel.min.css";
@import "styles/theme.min.css";
@import "styles/transitions.css";
@import "styles/datepicker.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
